<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
<bean id="bank" class="beans.Bank">
<replaced-method name="intrestCalculate" replacer="nc"> </replaced-method>
</bean>

<bean id="nc" class="beans.NewInterestCalculator"></bean>
	
</beans>